<p class="board-top text-center">&nbsp;</p>
<!-- <div class="warning text-center">&nbsp</div> -->
<table id="board">

  <% 8.downto(0) do |y| %>
    <tr>
      <% 0.upto(9) do |x| %>
        <td data-x="<%= x %>" data-y="<%= y %>
            "class="square<%= add_rank_indicator_class(x, y) %>
                          <%= add_file_indicator_class(x, y) %>
                          <%= add_squash_class(x, y) %>" >
          <%= game_pieces(@game, x, y) %>
          <!-- output y for the rank indicator -->
          <%= y if x == 0 && y != 0 %>

          <%= convert_number_to_file_letter(x, y) %>
        </td>
      <% end %>
    </tr>

  <% end %>
</table>

<br>
