<h2 class="text-center">
  <% if !@game.black_player_id.nil? %>
    <%= @white_player.email %> vs <%= @black_player.email %>
  <% else %>
    <%= @white_player.email %> vs Someone
  <% end %>
</h2>

<div class="container table-surface">
  <div class="player-turn text-center"></div>
  <div class="board-booyah-box col-lg-6 col-lg-offset-3 col-sm-10 
  col-sm-offset-1 col-xs-12" data-no-turbolink>
    <!-- pull in the board from a partial -->
    <%= render 'chess_board' %>
  </div>
</div>

<div class="container">
  <% if @game.black_player_id.nil? && @game.white_player_id != current_user.id %>
    <%= link_to "Join", game_path(@game), method: :patch, class: 'btn btn-primary' %>
  <% end %>
</div>

<br />

<!-- Execute the script that allows moving pieces on the board. -->
<script>
<% current_player_id = @game.white? ? @game.white_player_id : @game.black_player_id %>
  <% if current_user.id == current_player_id %>
    dragDrop();
  <% end %>
</script>
