<h1>games#show page</h1>

<h2 class="text-center">
  <% if !@game.black_player_id.nil? %>
    <%= @white_player.email %><h3> vs </h3><%= @black_player.email %>
  <% else %>
    <%= @white_player.email %> vs Someone
  <% end %>
</h2>

<div class="player-turn text-center"></div>

<div class="board-booyah-box col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1" data-no-turbolink>
  <!-- pull in the board from a partial -->
  <%= render 'chess_board' %>
</div>

<div class="container">
  <% if @game.black_player_id.nil? && @game.white_player_id != current_user.id %>
    <%= link_to "Join", game_path(@game), method: :patch, class: 'btn btn-primary' %>
  <% end %>
</div>

<!-- Execute the script that allows moving pieces on the board. -->
<script>$(dragDrop);</script>
