<script> //this javascript doesn't need to be implemented until we add drag-and-drop functionality. Feel free to delete. 
/*  $(function(){
    $("td").click(function(){
      var xCoord = $(this).data("X");
      var yCoord = $(this).data("Y");
      var updateURL = $(this).data("updateURL");
      
      $.ajax({
        url: updateURL,
        type: 'PUT',
        dataType: 'json',
        data: { piece: { x_coord: xCoord, y_coord: yCoord } }       
      });
    });    
    
  }); */
  $(function(){
    $(".chessPiece").draggable({
      containment: ".board-booyah-box",
      cursor: "move",
      revert: true,
    });

    $("td").droppable({
      drop: handleDragStop,
      hoverClass: "hoveredSquare"
    });

    function handleDragStop( event, ui ) {
      ui.draggable.draggable( 'option', 'revert', false );
      var destination_x = $(this).data("x");
      var destination_y = $(this).data("y");
      $.ajax({
        type: 'PATCH',
        url: ui.draggable.data('update-url'),
        dataType: 'json',
        data: { x_coord: destination_x, y_coord: destination_y }
      });
    }
  });  
</script>

<h1>games#show page</h1>
<h2 class="text-center">
  <% if !@game.black_player_id.nil? %>
    <%= @white_player.email %> vs <%= @black_player.email %></h2>
  <% else %>
    <%= @white_player.email %> vs Someone
  <% end %>
<div class="board-booyah-box col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">
  <p class="boardTopBottom"></p>
  <table>
    <% 8.downto(1) do |y| %>
      <tr>
        <% 1.upto(8) do |x| %>
          <td data-x="<%= x %>" data-y="<%= y %>"class="square">
            <span class="chessPiece" data-update-url><%= display_game_pieces(x, y) %></span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p class="boardTopBottom"></p>
</div>
<div class="container">
  <% if @game.black_player_id.nil? && @game.white_player_id != current_user.id %>
    <%= link_to "Join", game_path(@game), method: :patch, class: 'btn btn-primary' %>
  <% end %>
</div>
