<h2 class="text-center">
  <% if !@game.black_player_id.nil? %>
    <%= @white_player.email %><h3> vs </h3><%= @black_player.email %>
  <% else %>
    <%= @white_player.email %> vs Someone
  <% end %>
</h2>

<div class="player-turn text-center"></div>
<!--<% if (@game.white_player_concede == false && @game.black_player_concede == false) %> -->
  <div class="container table-surface">
    <div class="black-or-white-coords">
      <div class="board-booyah-box col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1" data-no-turbolink>
        <!-- pull in the board from a partial -->
        <%= render 'chess_board' %>
      </div>
    </div>
  </div>

  <div class="container">
    <% if @game.black_player_id.nil? && @game.white_player_id != current_user.id %>
      <%= link_to "Join", game_path(@game), method: :patch, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <br />
  <br />
  <div class="container">
    <%= link_to "Concede the Game", {action: "concede", controller: "games"}, method: :patch, class: 'btn btn-primary' %>
  </div>
  <br />
  <div class="container">
    <!--<%= link_to "Suggest draw", {action: "draw", controller: "games"}, method: :patch, class: 'btn btn-primary draw-btn' %>
  </div> -->
  <button data-game-url="draw_game_path(@game)" class="btn btn-primary draw-btn"> Suggest draw </button>
<!--<% else %>
  <h3 class="text-center">The game was conceded by <%= @conceding_player %>. </h3>
<% end %> -->
<br />
white_player_concede is: <%= @game.white_player_concede %>
<br />
black_player_concede is: <%= @game.black_player_concede %>
<br />
<br />
white_player_draw is: <%= @game.white_player_draw %>
<br />
black_player_draw is: <%= @game.black_player_draw %>
<br /><br />


<!-- Execute the script that allows moving pieces on the board. -->
<script>
<% current_player_id = @game.white? ? @game.white_player_id : @game.black_player_id %>
  <% if current_user.id == current_player_id %>
    dragDrop();
  <% end %>
</script>

<script type="text/javascript" charset="utf-8">
  $(function() {
    // If your Heroku application is within the EU region,
    // uncomment the following lines
    // Pusher.host = 'ws-eu.pusher.com';
    // Pusher.sockjs_host = 'sockjs-eu.pusher.com';
    $(".draw-btn").click(function(){
      $.ajax({
        type: 'PATCH',
        url: <%= @game.id %> + "/draw" 
      }); 
      //$(".draw-btn").text("draw requested");
    });  


    var pusher = new Pusher('<%= ENV["pusher_key"] %>'); // Replace with your app key
    var channel = pusher.subscribe('game-<%= @game.id %>');

    var channel2 = pusher.subscribe('sender');

    // Some useful debug msgs
    pusher.connection.bind('connecting', function() {
      console.log('Connecting to Pusher...');
    });
    pusher.connection.bind('connected', function() {
      console.log('Connected to Pusher!');
    });
    pusher.connection.bind('failed', function() {
      console.log('Connection to Pusher failed :(');
    });
   channel.bind('game_conceded', function(data) {
  //window.location.reload(false);
  //if ( data.dest_x !== data.orig_x || data.orig_y !== data.dest_y ) {
    location.reload();
    });

   channel.bind('draw_requested', function(data) {
  //window.location.reload(false);
  //if ( data.dest_x !== data.orig_x || data.orig_y !== data.dest_y ) {
    $(".draw-btn").text("draw requested");
    });

  });
</script>