<h2 class="text-center">
  <% if !@game.black_player_id.nil? %>
    <%= @white_player.email %><h3> vs </h3><%= @black_player.email %>
  <% else %>
    <%= @white_player.email %> vs Someone
  <% end %>
</h2>

<div class="col-xs-10 col-xs-offset-1">
  <%= link_to "Concede the Game", concede_game_path(@game, conceding_user: current_user.id), class: 'btn btn-primary pull-left', remote: true %>
  <!--<button class="btn btn-primary concede-btn pull-left"> Concede the Game </button>
  <button class="btn btn-primary draw-btn pull-right"> Suggest draw </button>
</div> 

<div class="player-turn text-center"></div>
  <div class="container table-surface">
    <div class="black-or-white-coords">
      <div class="board-booyah-box col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1" data-no-turbolink>
        <!-- pull in the board from a partial -->
        <%= render 'chess_board' %>
      </div>
    </div>
  </div>

  <div class="container">
    <% if @game.black_player_id.nil? && @game.white_player_id != current_user.id %>
      <%= link_to "Join", game_path(@game), method: :patch, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <br />
  <br />


<!-- Execute the script that allows moving pieces on the board. -->
<script>
<% current_player_id = @game.white? ? @game.white_player_id : @game.black_player_id %>
  <% if current_user.id == current_player_id %>
    dragDrop();
  <% end %>
</script>

<script type="text/javascript" charset="utf-8">
  $(function() {

    // Upon clicking "Draw" button, this ajax request triggers the "draw" action in the games controller(no data is sent to the server)
    $(".draw-btn").click(function(){
      $.ajax({
        type: 'PATCH',
        url: <%= @game.id %> + "/draw"
      }); 
    });

    var pusher = new Pusher('<%= ENV["pusher_key"] %>'); // Replace with your app key
    var channel = pusher.subscribe('game-<%= @game.id %>');  

    // Some useful debug msgs
    pusher.connection.bind('connecting', function() {
      console.log('Connecting to Pusher...');
    });
    pusher.connection.bind('connected', function() {
      console.log('Connected to Pusher!');
    });
    pusher.connection.bind('failed', function() {
      console.log('Connection to Pusher failed :(');
    });


   channel.bind('game_conceded', function(data) {
    //when one player concedes the game, both players are redirected to a new page. The setTimeout is necessary for Chrome users (without it the redirect does not occur).The query string added at the end of the url allows the passing of data (the id of the player that conceded the game) via the url to be used in concede.html.erb
    setTimeout(function(){
      window.location.href = '<%= @game.id %>' + '/concede' +'?conceding_player=' + data.player_id;}, 500);
    });

   channel.bind('draw_requested', function(data) {
      alert("Your opponnent has sent you a request to draw the game. \n \n Ignore this warning if you sent the request.");

      $(".draw-btn").text("Click to accept a draw");
      $(".draw-btn").css({'background': 'green'});
    });

   channel.bind('game_drawn', function(data) {
   //when  both players decide to draw the game, they are redirected to a new page. The setTimeout is necessary for Chrome users (without it the redirect does not occur)
    setTimeout(function(){
      window.location.href = '<%= @game.id %>' + '/draw';},500);
    });

  });
</script>