<h1>games#show page</h1>
<h2 class="text-center">
  <% if !@game.black_player_id.nil? %>
    <%= @white_player.email %> vs <%= @black_player.email %></h2>
  <% else %>
    <%= @white_player.email %> vs Someone
  <% end %>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <p class="boardTopBottom"></p>
  <table>
    <% 8.downto(1) do |y| %>
      <tr>
        <% 1.upto(8) do |x| %>
          <td data-x="<%= x %>" data-y="<%= y %>"class="square">
            <span><%= display_pieces(@game, x, y) %></span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p class="boardTopBottom"></p>
</div>
<div class="container">
  <% if @game.black_player_id.nil? && @game.white_player_id != current_user.id %>
    <%= link_to "Join", game_path(@game), method: :patch, class: 'btn btn-primary' %>
  <% end %>
</div>